VAPI AI Receptionist.json
{
  "name": "VAPI AI Receptionist",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Extract tool call data from VAPI webhook payload\nconst input = $input.first().json;\n\n// Webhook puts body in input.body\nconst body = input.body || input;\n\n// Validate payload structure\nif (!body.message || !body.message.toolCallList || !body.message.toolCallList[0]) {\n  throw new Error('Invalid VAPI payload: missing message.toolCallList');\n}\n\nconst toolCall = body.message.toolCallList[0];\n\n// Validate required fields\nif (!toolCall.id) {\n  throw new Error('Invalid VAPI payload: missing toolCallId');\n}\nif (!toolCall.function?.name) {\n  throw new Error('Invalid VAPI payload: missing function name');\n}\n\n// Parse arguments - VAPI sends as object or JSON string\nlet args = toolCall.function?.arguments || {};\nif (typeof args === 'string') {\n  try { args = JSON.parse(args); } catch (e) { args = {}; }\n}\n\n// Extract booking-specific arguments\nconst customerName = args.customerName || args.customer_name || args.name || 'Unknown Customer';\nconst serviceType = args.serviceType || args.service_type || args.type || 'Routine Maintenance';\nconst appointmentTime = args.appointmentTime || args.appointment_time || args.startTime || args.start_time;\nconst duration = args.duration || 60;\n\n// Extract logging-specific arguments (Phase 4)\nconst callerPhone = args.callerPhone || args.caller_phone || args.phone || args.callerNumber || '';\nconst toolCalled = args.toolCalled || args.tool_called || args.toolName || '';\nconst outcome = args.outcome || args.result || args.status || '';\nconst logDuration = args.duration || args.call_duration || args.durationSeconds || 0;\nconst argsString = args.arguments || args.args ? (typeof (args.arguments || args.args) === 'object' ? JSON.stringify(args.arguments || args.args) : args.arguments || args.args) : JSON.stringify(args);\n\nreturn [{\n  json: {\n    toolCallId: toolCall.id,\n    functionName: toolCall.function.name,\n    arguments: args,\n    startTime: args.date || args.startTime || args.start_time,\n    endTime: args.endDate || args.endTime || args.end_time,\n    customerName,\n    serviceType,\n    appointmentTime,\n    duration,\n    callerPhone,\n    toolCalled,\n    outcome,\n    logDuration,\n    argsString\n  }\n}];"
      },
      "id": "8d809825-3a43-4157-983e-8962df10385b",
      "name": "Extract Tool Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        544
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.functionName }}",
                    "rightValue": "check_calendar_availability",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "check_availability"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.functionName }}",
                    "rightValue": "book_appointment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "book_appointment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.functionName }}",
                    "rightValue": "log_conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "log_conversation"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown_function"
        }
      },
      "id": "d1162810-f4b3-4645-be8b-83c5a8af4565",
      "name": "Route by Function",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -544,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle unknown function calls\nconst input = $input.first().json;\n\nreturn [{\n  json: {\n    toolCallId: input.toolCallId,\n    result: `Error: Unknown function '${input.functionName}'. Available functions: check_calendar_availability, book_appointment, log_conversation`\n  }\n}];"
      },
      "id": "4fe5cd1f-3cb8-44e1-8121-07ba43dea5ae",
      "name": "Unknown Function",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        1168
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format response in VAPI expected format\nconst input = $input.first().json;\n\nreturn [{\n  json: {\n    results: [\n      {\n        toolCallId: input.toolCallId,\n        result: input.result\n      }\n    ]\n  }\n}];"
      },
      "id": "1a85f912-d04d-4389-b66a-dd299f45526a",
      "name": "Format VAPI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        528
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "07123558-f9b2-4411-aab1-a91d2eb407fc",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1136,
        528
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "webd2276@gmail.com",
          "mode": "list",
          "cachedResultName": "webd2276@gmail.com"
        },
        "timeMin": "={{ $json.startTime ? DateTime.fromISO($json.endTime) : $now.plus({days: 7}) }}",
        "timeMax": "={{ $json.endTime ? DateTime.fromISO($json.endTime) : $now.plus({days: 7}) }}",
        "options": {
          "outputFormat": "bookedSlots"
        }
      },
      "id": "bc5aa846-7818-4bee-a977-121fd1c03a91",
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZhkqsGd7CWgugztf",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Calendar availability result for VAPI response\n// When calendar returns no busy slots, it outputs an empty object {}\n// Filter out empty objects before processing\nconst allItems = $input.all().map(item => item.json);\nconst busySlots = allItems.filter(slot => slot.start && slot.end);\nconst toolCallId = $('Extract Tool Call').first().json.toolCallId;\n\nlet result;\nif (busySlots.length === 0) {\n  result = \"The requested time slot is available. Would you like to book this appointment?\";\n} else {\n  const busyTimes = busySlots.map(slot => {\n    const start = DateTime.fromISO(slot.start);\n    const end = DateTime.fromISO(slot.end);\n    const startStr = start.toFormat('h:mm a');\n    const endStr = end.toFormat('h:mm a');\n    return `${startStr} to ${endStr}`;\n  }).join(', ');\n  \n  result = `That time slot is not available. We have appointments booked during: ${busyTimes}. Would you like to check a different time?`;\n}\n\nreturn [{\n  json: {\n    toolCallId,\n    result\n  }\n}];"
      },
      "id": "1827a92e-7f9f-4889-be97-79568088abee",
      "name": "Transform Availability Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "webd2276@gmail.com",
          "mode": "list",
          "cachedResultName": "webd2276@gmail.com"
        },
        "timeMin": "={{ $json.appointmentTime \n    ? DateTime.fromISO($json.appointmentTime).toISO() \n    : $now.toISO() }}",
        "timeMax": "={{ $json.appointmentTime \n    ? DateTime.fromISO($json.appointmentTime).plus({ minutes: 30 }).toISO()\n    : $now.plus({ minutes: 30 }).toISO() }}",
        "options": {
          "outputFormat": "availability"
        }
      },
      "id": "3c528fda-6931-480b-bb74-1e26e961bc8e",
      "name": "Check Booking Conflict",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -224,
        512
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZhkqsGd7CWgugztf",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "conflict-check",
              "leftValue": "={{ $json.available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "01c5667f-44f5-4200-bb76-729d1a2c22b7",
      "name": "Handle Conflict",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "toolCallId-field",
              "name": "toolCallId",
              "value": "={{ $('Extract Tool Call').item.json.toolCallId }}",
              "type": "string"
            },
            {
              "id": "result-field",
              "name": "result",
              "value": "Sorry, that time slot is not available. Please choose a different time.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6fd9b52e-693d-4d1c-97bb-f713f70b7477",
      "name": "Conflict Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        608
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "webd2276@gmail.com",
          "mode": "list",
          "cachedResultName": "webd2276@gmail.com"
        },
        "start": "={{ $('Extract Tool Call').item.json.appointmentTime }}",
        "end": "={{ DateTime.fromISO($('Extract Tool Call').item.json.appointmentTime).plus({ minutes: $('Extract Tool Call').item.json.duration || 60 }).toISO() }}",
        "additionalFields": {
          "description": "=Service Type: {{ $('Extract Tool Call').item.json.serviceType }}\nCustomer: {{ $('Extract Tool Call').item.json.customerName }}\nBooked via VAPI AI Receptionist",
          "summary": "={{ $('Extract Tool Call').item.json.serviceType }} - {{ $('Extract Tool Call').item.json.customerName }}"
        }
      },
      "id": "2b719878-faeb-4108-8311-1f9b984598f5",
      "name": "Create Appointment",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        224,
        352
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZhkqsGd7CWgugztf",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format booking confirmation for VAPI response\nconst event = $input.first().json;\nconst extractData = $('Extract Tool Call').first().json;\n\nconst startTime = DateTime.fromISO(event.start.dateTime || event.start);\nconst formattedTime = startTime.toFormat('EEEE, MMMM d') + ' at ' + startTime.toFormat('h:mm a');\n\nreturn [{\n  json: {\n    toolCallId: extractData.toolCallId,\n    result: `Your ${extractData.serviceType} appointment has been booked for ${formattedTime}. We look forward to seeing you!`\n  }\n}];"
      },
      "id": "4fd0c124-b522-4e05-8b0e-922644ff895b",
      "name": "Format Booking Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        432
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hiX6zUvO2vN3pIh1wwgxRgTm9rW-uDqhv2tyw0dCwKs",
          "mode": "list",
          "cachedResultName": "Vapi Call Logs ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hiX6zUvO2vN3pIh1wwgxRgTm9rW-uDqhv2tyw0dCwKs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 648632081,
          "mode": "list",
          "cachedResultName": "Call Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hiX6zUvO2vN3pIh1wwgxRgTm9rW-uDqhv2tyw0dCwKs/edit#gid=648632081"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toFormat('DD : t') }}",
            "Tool Called": "={{ $('Extract Tool Call').item.json.toolCalled || 'N/A' }}",
            "Outcome": "={{ $('Extract Tool Call').item.json.outcome || 'Not specified' }}",
            "Number": "={{ $('Extract Tool Call').item.json.callerPhone || 'Unknown' }}",
            "Name": "={{ $('Extract Tool Call').item.json.customerName || 'Unknown' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tool Called",
              "displayName": "Tool Called",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outcome",
              "displayName": "Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "34301746-7ce9-4016-852a-77cde7eac364",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        816
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sZYdvZ4Zvr4kB1d8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format logging success response for VAPI\nconst toolCallId = $('Extract Tool Call').first().json.toolCallId;\nconst timestamp = DateTime.now().toFormat('yyyy-MM-dd HH:mm:ss');\n\nreturn [{\n  json: {\n    toolCallId,\n    result: `Call logged successfully at ${timestamp}`\n  }\n}];"
      },
      "id": "77dc8572-f6ab-4d0b-aa76-083ef280c26a",
      "name": "Format Log Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        816
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hiX6zUvO2vN3pIh1wwgxRgTm9rW-uDqhv2tyw0dCwKs",
          "mode": "list",
          "cachedResultName": "Vapi Call Logs ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hiX6zUvO2vN3pIh1wwgxRgTm9rW-uDqhv2tyw0dCwKs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 957816061,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hiX6zUvO2vN3pIh1wwgxRgTm9rW-uDqhv2tyw0dCwKs/edit#gid=957816061"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Appointment Booked": "={{ DateTime.fromISO($('Extract Tool Call').item.json.appointmentTime).toFormat('ccc, MMM d') }} at {{ DateTime.fromISO($('Extract Tool Call').item.json.appointmentTime).toFormat('h:mm a') }}",
            "When it was booked?": "={{ $now.toFormat('DD : t') }}",
            "Name": "={{ $('Extract Tool Call').item.json.customerName || 'Unknown' }}"
          },
          "matchingColumns": [
            "Appointment Booked"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Appointment Booked",
              "displayName": "Appointment Booked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "When it was booked?",
              "displayName": "When it was booked?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1329b24d-616d-4c0a-8801-ed0e3e5ac7ac",
      "name": "Log Booking",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        416,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sZYdvZ4Zvr4kB1d8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-tool-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cf0d82a4-0fe2-420c-a6ad-c4517210d39f",
      "name": "VAPI Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        544
      ],
      "webhookId": "1b8b4125-babf-429d-bd5c-12120aa05d80",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Tool Call": {
      "main": [
        [
          {
            "node": "Route by Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Function": {
      "main": [
        [
          {
            "node": "Check Calendar Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Booking Conflict",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format VAPI Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Function": {
      "main": [
        [
          {
            "node": "Format VAPI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "main": [
        [
          {
            "node": "Transform Availability Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Availability Result": {
      "main": [
        [
          {
            "node": "Format VAPI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Booking Conflict": {
      "main": [
        [
          {
            "node": "Handle Conflict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conflict Response": {
      "main": [
        [
          {
            "node": "Format VAPI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment": {
      "main": [
        [
          {
            "node": "Format Booking Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Booking Response": {
      "main": [
        [
          {
            "node": "Format VAPI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Conflict": {
      "main": [
        [
          {
            "node": "Create Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Conflict Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Format Log Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Log Response": {
      "main": [
        [
          {
            "node": "Format VAPI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAPI Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Tool Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e254de7f-494e-4dcb-a2c3-27b1bd6838c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6916d33dd16e5029f753e8c66ce20f4307254453fbcd8853dc98908dc4dc601"
  },
  "id": "0tM3Y1I5zRlmFXIX",
  "tags": []
}